html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary,
time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
	font-family:Arial, sans-serif;
	background:#eeeeee;
	font-size:14px;
	color:#666666;
}
.main-wrap{
	width:900px;
	border: solid 1px #cccccc;
	margin:20px auto;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	background:#ffffff;
	overflow: hidden;
}
.main-wrap header{
	padding:20px;
	background:#000000;
	color:#ffffff;
}
.main-wrap header h1{
	font-size:25px;
	font-weight:bold;
}
.main-wrap #main{
	padding:20px;
	overflow: hidden;
}
.main-wrap #main #divider{
	float:left;
	display:inline-block;
	width:1px;
	height:100px;
	border-right:solid 1px #cccccc;
	margin-left:0.8%;
}
.main-wrap #main .info-view{
	display:inline-block;
	float:left;
	width:49%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.30) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.30)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.30) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.main-wrap #main .info-view h1{
	padding:10px;
	margin-bottom:20px;
	background:#207cca;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
}
.main-wrap #main .info-view section ul{
	width:60%;
	margin:0px auto;
	clear:both;
}
.main-wrap #main .info-view section ul li{
	list-style:none;
	padding:10px;
	margin-bottom:3px;
	border:solid 1px #666666;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	color:#666666;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.main-wrap #main .info-view section #btn-random{
	display:inline-block;
	float:right;
	background:#a90329;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	margin-top:15px;
	padding:5px 10px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.main-wrap #main .info-view section p{
	padding:0px 0px 15px;
}
.main-wrap #main .info-view.right{
	float:right;
	background:#ffffff;
	filter:none;
}
.main-wrap #main .info-view.right img{
	width:150px;
	margin:0px 20px 0px 0px;
}
.main-wrap footer{
	padding:20px;
	text-align:center;
}
